{% extends "layout.njk" %}
{% block content %}
<h1>{{ title }}</h1><br>
<p>Pickle Rick: (offscreen, in the distance) Morty.<br>
    Morty: Rick?<br>
    [Morty stops combing, looks around, then continues combing]<br>
    Pickle Rick: (offscreen, in the distance) Morty!<br>
    Morty: Rick?<br>
    Pickle Rick: (offscreen, in the distance) Hey, Mooorty!<br>
    Morty: Rick? Are you far away, or are you inside something?<br>
    [Morty opens a cabinet beneath the bathroom sink]<br>
    Is this a camera?<br>
    [Morty tries to look inside his comb for a camera]<br>
    Is everything a camera?<br>
    [Morty nervously glances around]<br>
    Pickle Rick: (offscreen, in the distance) Morty, the garage, Morty. Come to the garage!<br>
    [Transition to Morty entering the garage. There is a pickle and a screwdriver on Rick's work bench]<br>
    Pickle Rick: Morty?<br>
    Morty: Rick? W-where are you?<br>
    Pickle Rick: On my work bench, Morty.<br>
    Morty: Are you invisible and you're gonna, like, fart on me?<br>
    Pickle Rick: Flip the pickle over.<br>
    Morty: What, I'm gonna touch it, and you're gonna tell me it's an alien dick or something.<br>
    Pickle Rick: Come on, flip the pickle, Morty. You're not gonna regret it. The payoff is huge.<br>
    [Morty hesitantly picks up the screwdriver and turns the pickle over. The pickle has Rick's face on it] I turned myself into a pickle, Morty! Boom! Big reveal: I'm a pickle. What do you think about that? I turned myself into a pickle! W-what are you just staring at me for, bro. I turned myself into a pickle, Morty!<br>
    Morty: And?<br>
    Pickle Rick: "And"? What more do you want tacked on to this? I turned myself into a pickle, and 9/11 was an inside job?<br>
    Morty: Was it?<br>
    Pickle Rick: Who cares, Morty? Global acts of terrorism happen every day. Uh, here's something that's never happened before: I'm a pickle. I'm Pickle Rick!<br>
    Morty: Are you going to, I mean, you know, is this the first part of some magic trick?<br>
    Pickle Rick: I don't do magic, Morty, I do science. One takes brains, the other takes dark eye liner.<br>
    Morty: Well, can you move? Can you fly?<br>
    Pickle Rick: I wouldn't be much of a pickle if I could.<br>
    Morty: All right, well, do pickles live forever or --<br>
    Pickle Rick: Morty, stop digging for hidden layers and just be impressed. I'm a pickle.<br>
    Morty: I-I'm just trying to figure out why you would do this. Why anyone would do this.<br>
    Pickle Rick: The reason anyone would do this is, if they could, which they can't, would be because they could, which they can't.<br>
    [Beth and Summer enter the garage from the house. Beth is wearing a midi mahogany pencil dress while Summer is wearing a shorter pink dress with a hot pink jacket, along with black stockings and black heels]<br>
    Beth: Morty, we have to get going, or we're gonna be late. Where's your grandpa?<br>
    Pickle Rick: Right here, sweetie. I'm a pickle!<br>
    Beth: What?! Why would you -- Look, we're running late. We have to go.<br>
    Pickle Rick: Where are you guys going?<br>
    Beth: We have an appointment downtown that was set a week ago and agreed upon by everyone, including you.<br>
    Pickle Rick: Oh, my God. Beth, oh, it totally slipped my mind. Geez, oh, man. I'm a pickle. I mean, I don't know if I can, ooh, geez.<br>
    Morty: Rick, did you do this on purpose to get out of family counseling?<br>
    Beth: Morty!<br>
    Pickle Rick: It's okay, Beth. I understand Morty's suspicion. I've misled him before. Morty, turn me so we're making eye contact.<br>
    [Morty turns Pickle Rick's face so that it is facing him]<br>
    Morty, I assure you, I would never "find a way" to "get out of" family therapy. I hope my lack of fingers doesn't prevent the perception of my air quotes.<br>
    Summer: Can't you just turn yourself back into a human?<br>
    Pickle Rick: Great question, Summer. The unfortunate answer is I did this to challenge myself. And it could take hours or even days before I'm able to figure out how to return to human form. But, I mean, you know, your mom could put me in a purse or a pocket, you know, if she really needs me to go.<br>
    Beth: Nobody needs anything! Okay, it's fine. I mean, you should just stay here and figure out how to stop being a pickle, okay?<br>
    Morty: Hey, Rick, why is there a syringe of mysterious fluid hanging directly over you? Also, why is the string attached to it running through a pair of scissors attached to a timer? And why is the time set to 10 minutes from now, exactly when we would have left for therapy?<br>
    Pickle Rick: Well, Morty, if you know must know, the syringe is completely unrelated to this discussion, and, therefore, it does not warrant further explanation.<br>
    [Beth cuts off the syringe and takes it]<br>
    Beth: Enough. Kids, it's time to go. We don't want to be late.<br>
    [Beth puts the syringe in her purse]<br>
    Pickle Rick: W-w-what are you doing there, Beth? What are you doing there, sweetie?<br>
    Beth: Well, I mean, you don't want to get pierced by a needle full of liquid unrelated to your situation. How's that gonna help?<br>
    Pickle Rick: Can't argue with that.<br>
    Beth: Great. We'll see you later.<br>
    [Beth, Summer, and Morty enter the car.]<br>
    Pickle Rick: Hey, hey, be careful with that. It's for something else. It's really important, so don't break it.<br>
    [Beth drives away with Summer and Morty. They all exit.]<br>
    Pickle Rick: Okay, I may have fucked up here. Dup, ap, ap, pap, ut, dah, pap, pap, pap, pah. T-t-tah, tah. [clicks tongue]<br>
    Izzy walks in through the open garage door and jumps onto Rick's work bench. She sniffs around]<br>
    Pickle Rick: Oh, great. Stupid cat.<br>
    [Izzy sniffs Pickle Rick and hisses]<br>
    Pickle Rick: Whoa, whoa, whoa, whoa! I know what it looks like to you, Izzy, but I'm not a snake! I've seen the YouTube videos, I know cats are scared of cucumbers and pickles because they think they're snakes. I'm not a snake! I'm a pickle, I'm a pickle!<br>
    [Izzy bats at Pickle Rick and knocks him off of the work bench, causing him to roll down the driveway]<br>
    Pickle Rick: Whoa! Oh! Whoa, whoa, whoa!<br>
    [Pickle Rick is directly facing the sky]<br>
    Pickle Rick: Oh, crap, that sun is bright.<br>
    [Pickle Rick begins to sweat]<br>
    Pickle Rick: Okay, come on. This can't really be the way I go out. This is the mega-genius equivalent of dying on the toilet.<br>
    [Pickle Rick starts to shrivel up]<br>
    Pickle Rick: So... hot. This is how I'm gonna die.<br>
    [Thunder can be heard and the shadow of a cloud appears overhead. It starts to rain. Pickle Rick stops shriveling]<br>
    Pickle Rick: Oh, God, moisture.<br>
    [The rain gets heavy and it begins to flood]<br>
    Pickle Rick: Oh, God, the moisture! Dial it back, God! Dial it back a little bit here!<br>
    [Pickle Rick starts rolling down the road]<br>
    Pickle Rick: Oh! Oh!<br>
    [Pickle Rick rolls towards a sewer grate]<br>
    Pickle Rick: Oh, God! Perpendicular, perpendicular!<br>
    [Pickle Rick rolls into the sewer grate and falls into the sewer]<br>
    Pickle Rick: Oh, SHIIIIIT!!! Oh! Oh! Oh!<br>
    [Pickle Rick hits many pipes before eventually falling onto a solid surface. There are bugs crawling around. One bug walks up to a pile of dirt. Pickle Rick bites his lip and pickle juice comes out. The bug turns around]<br>
    Pickle Rick: Come on. That's it.<br>
    [The bug walks towards Pickle Rick]<br>
    Pickle Rick: Come get this delicious brine.<br>
    [The bug is in front of Pickle Rick. Pickle Rick bites on its head and squeezes it until the bug dies.]<br>
    Pickle Rick: Aah! Come on! Come on, motherfucker! Come on!<br>
    [Pickle Rick licks off the top of the bug's head, revealing its brain. He then licks part of the brain and the bug's leg moves. He rolls onto the bug and licks its brain, moving its legs forward and moving him forward with it]<br>
    Pickle Rick: Yes!<br>
    [Transition to Beth, Summer, and Morty sitting in a waiting room outside of Dr. Wong's therapy office. Beth is reading a magazine, while Summer sits with her head resting on her fist. The door to her office reads: "Dr. WONG / FAMILY THERAPY / COPROPHRAGIA RECOVERY". There is a motivational picture of a man eating a hot dog which reads "COURAGE" underneath it.]<br>
    Summer: How is this even family therapy if Dad's not invited and Grandpa won't come?<br>
    Morty: Yeah, and what's courageous about eating a hot dog?<br>
    Beth: It's nobody's choice to be here, you knobs. The family was told to get counseling by your principal, even though it's not the family that was huffing pottery glaze in the art room and desk wetting in history class.<br>
    Mr. Goldenfold enters through Dr. Wong's door.<br>
    Mr. Goldenfold: Oh, the Smith family, minus a dad. You're patients of Dr. Wong, too?<br>
    Beth: Temporarily. By order of the school.<br>
    Mr. Goldenfold: Me too. How long have you all been eating poop?<br>
    Summer: We... have never... eaten poop.<br>
    Mr. Goldenfold: Uh, me, neither. Say, where did my family get off to?<br>
    [Mr. Goldenfold exits. Dr. Wong opens her door and enters the waiting room]<br>
    Dr. Wong: Smith family, I'm Dr. Wong. Come on in.<br>
    [Beth, Summer, and Morty exit the waiting room and enter Dr. Wong's office. Dr. Wong flips the motivational image over to another motivational image of a nuclear family which reads "DEDICATION". Transition to Beth, Morty, Summer, and Dr. Wong sitting down in Dr. Wong's office.]<br>
    Dr. Wong: I was told there was a grandpa that might be joining us?<br>
    Beth: He got wrapped up in an experiment. He's a scientist. Like, legit, like on an inter-galactic, sci-fi level. His work is very --<br>
    Morty: He turned himself into a pickle.<br>
    Beth: Morty, Mom's talking. I'm sorry, I suppose that's a good segue into our little discipline cases here.<br>
    Dr. Wong: Does Grandpa turn himself into a pickle a lot?<br>
    Beth: What? No, what kind of question is that?<br>
    Dr. Wong: The kind that wasn't designed to attack or hurt you in any way.<br>
    Beth: Oh, Jesus Christ, one of these. No, my father has never turned himself into a pickle before. He's unpredictable and eccentric. The whole family is. Speaking of which...<br>
    [Beth turns towards Summer and Morty]<br>
    Dr. Wong: Okay, let's open things up to the whole family, and let me ask this. Why do we think Grandpa turned himself into a pickle?<br>
    [Beth rolls her eyes. Transition to Pickle Rick, who has attached the bug's limbs to his pickle body and has managed to use them to move. He is looking through a grate, and is rubbing the end of one of the bug arms against one of the bars]<br>
    Pickle Rick: Wow. Ugh.<br>
    [A rat appears behind the grate and starts scratching at Pickle Rick, screeching]<br>
    Pickle Rick: Hey, listen, I know this is your world not mine. The sooner I can get out, the sooner I can go back to taking big craps, and you can go back to subsisting on them.<br>
    [The rat breaks open one of the bars and continues to scratch. Pickle Rick starts to walk backwards.]<br>
    Pickle Rick: You are one driven rat. Could you be a little more driven? To the right.<br>
    [Pickle Rick scratches at a rope which is attached to a bug's arms which is holding a razor that it lets go of which is propelled upwards which breaks a rubber band which is tied to a sharp broken bottle which falls on the rat's head and chops it off, killing the rat]<br>
    [Pickle Rick picks up the rat's head]<br>
    Pickle Rick: Yes, yes, yes! Come on, come on, come on! Fresh, fresh, fresh!<br>
    [A mischief of rats appears behind the bars, also scratching at Pickle Rick, who is not in their range.]<br>
    Pickle Rick: Whoa, whoa, whoa, was this your friend? Don't worry, he died doing what he loved, being a dumb fucking rat.<br>
    [Pickle Rick puts the rat's head onto a bottle cap which starts a machine which lifts him up and takes off his bug limbs. The machine then splits open the rat head and rips out its brain, then puts Pickle Rick down and begins nailing the rat's body parts to Pickle Rick's pickle body. It then sticks a needle into the brain which connects it to the limbs. Pickle Rick runs towards the rats and begins killing them.]<br>
    Pickle Rick: Oh, yeah! Aaaah!<br>
    [He takes out a machines on his wrists which are loaded with screws. He kills some of the rats. The screws disappear and x-acto blade pop out. He kills more rats. Transition to Dr. Wong's office.]<br>
    Beth: I didn't say my father is perfect, I said his work is important.<br>
    Summer: And she's saying what's important is that Grandpa lied to you to get out of coming here.<br>
    Beth: Oh, he did not!<br>
    Dr. Wong: Let's do an experiment here. I get the impression this family values science. So raise your hand if you feel certain you know what was in the syringe.<br>
    [No one raises their hand.]<br>
    Raise your hand if you know for certain the syringe does not contain anti-pickle serum.<br>
    [Beth begins to raise her hand but stops herself.]<br>
    Beth, your hand did a little thing there.<br>
    Beth: Do you really not see what's happening here?<br>
    Dr. Wong: Tell me.<br>
    Beth: Well, Dr. Wong -- by the way, racist name -- obviously, Morty and Summer are seizing on your arbitrary pickle obsession as an end run around what was supposed to be their therapy.<br>
    Dr. Wong: Oh, I think this pickle incident is a better path than any other to the heart of your family's dysfunction. I think it's possible that you and your father have a very specific dynamic. I don't think it's one that rewards emotion or vulnerability. I think it may punish them. I think it's possible that dynamic eroded your marriage, and is infecting your kids with a tendency to misdirect their feelings.<br>
    [A short pause]<br>
    Beth: Fuck you.<br>
    Morty and Summer, in unison: Mom!<br>
    Beth: Fuck both of you, too.<br>
    [Transition to Pickle Rick, fighting a much larger grey rat and beating it up.]<br>
    Pickle Rick: By the way, you might notice that in spite of your numerous distinctive features, I never gave you a name like Scar or Stripe or Goliath. That's because, to me, you aren't special.<br>
    [Pickle Rick pins the rat to the wall with some screws.]<br>
    You were special to rats. Now they're dead. I guess it was me you should have impressed.<br>
    [Pickle Rick slices open the rat's stomach with his x-acto blade.]<br>
    God damn it, I love myself.<br>
    [Pickle Rick walks up to a pipe above him. His wrist machines fall off and are replaced with a jet pack. He pulls a hood over his head with a rat's face on it. He turns on the jet pack and flies out of the pipe and out of a toilet.]<br>
    Pickle Rick: Pickle Riiick!<br>
    [Pickle Rick opens the door. It is a bathroom door with a "male" sign on the front. He starts running around and opening various doors and looking in. Eventually he runs up to an elevator and tries to jump up to the buttons but cannot reach them. He tries to scale the wall but fails. He pushes a garbage can and a potted plant next to each other in front of the elevator buttons. He jumps off of the garbage can into the potted plant, then jumps into the lid which turns rapidly and propels him up and swings him to the elevator buttons.]<br>
    Get that parkour. Get that parkour!<br>
    [Pickle Rick kicks the "down button", then waits on the ground for the elevator. The elevator opens, and three men in black suits with earpieces stand inside. They notice Pickle Rick and gasp.]<br>
    Pickle Rick: Hey, it's cool. Just need to find the nearest exit.<br>
    [The men in the elevator point their guns at Pickle Rick.]<br>
    Pickle Rick: Whoa, whoa, whoa! No need to freak out.<br>
    [One of the men yells something in a foreign language into his earpiece and all three men start shooting at him. He runs away and they chase after him, still shooting at him.]<br>
    Pickle Rick: Whoa! Who in the fuck's toilet is this?<br>
    [Transition to the frontal exterior of the building. It is a rather large light brown building with a stone fence and a plethora of guards surrounding it. An alarm blares. Some guards run around to the other side of the building's roof. Transition to a surveillance room where the three agents from the elevator are waiting. The Agency Director slams open the door.]<br>
    Agency Director: What is it?<br>
    Agent #1: A pickle. A rat. Both.<br>
    Agent #2: It says it's a scientist.<br>
    Agency Director: Where is it?<br>
    Agent #1: It seems to be using the air ducts and the mail tubes to get around.<br>
    [A monitor shows Pickle Rick climbing into an air duct]<br>
    Agent #1: It's been gathering office supplies, we think, to build weaponry. But look what it did on the mezzanine.<br>
    [The monitor shows Pickle Rick jumping from a potted plant to the trash can to the recycling bin]<br>
    It transferred a bottle from the trash to the recycling bin.<br>
    [On the monitor, Pickle Rick picks up a glass bottle from the trash can, taunts the camera with it, throws it in the recycling bin, then runs off.]<br>
    Whatever this thing is, it's shaming us.<br>
    Agency Director: We have 34 armed guards, and we can't kill a pickle?<br>
    Agent #1: 32 armed guards. He killed two.<br>
    Agent #2: It's on the phone.<br>
    [A phone rings and one of the monitors reads "INCOMING CALL".]<br>
    Agency Director: Put him on, and locate the phone he's using.<br>
    [Agent #2 picks up the phone]<br>
    Hello.<br>
    Pickle Rick: Hi, um, can you, uh (burps) please let me out.<br>
    Agency Director: Your mere presence in this building violates international law.<br>
    [Agent #1 walks up to the Agency Director with a clipboard, which reads "LEVEL 3 / ROOM 304" in red pen. He taps the clipboard. The Agency Director looks at it and nods.]<br>
    I couldn't let you out even if you hadn't killed two men.<br>
    [Transition to Pickle Rick. The bottom part of the phone he is using has been dismantled. He attaches a belt around his waist which has batteries in the back of it.<br>
    Pickle Rick: You should know those men killed themselves.<br>
    Agency Director: And how is that?<br>
    Pickle Rick: They didn't (burps) let me out.<br>
    Agent #2: Solen'ya.<br>
    Agency Director: Shut your mouth and do your jobs, you fucking children!<br>
    Pickle Rick: Uh, is this not a good time or...?<br>
    [Agent #1 holds his earpiece up to his ear. He gives a thumbs up to the Agency Director. On one of the monitors, six agents run up to the door of room 304 with rifles.]<br>
    Agency Director: Some of my men are calling you "Solen'ya": The Pickle Man, an old wives tale. He crawls from bowls of cold soup to steal the dreams of wasteful children.<br>
    [One of the agents on the monitor gives a thumbs up. The Agency Director pantomimes slicing his neck to Agent #1.]<br>
    Pickle Rick: That'd be a lucky break for you.<br>
    Agent #1: Go, shoot to kill!<br>
    [Transition to room 304. One of the agents slams open the door, knocking over a water jug above the door which activates a pulley which pulls a string which cuts another string which swings a needle towards the agent's head, killing him instantly. Two more agents enter and start to walk in, but fall through the floor onto some spikes, which kill them. The three remaining agents walk in and see this and begin shooting at a pickle which is not Pickle Rick, but a decoy. They continue to shoot at the pickle until it is completely gone.]<br>
    Agent #3: Aaah! We got him.<br>
    [Transition back to the surveillance room.]<br>
    Agency Director: Ah.<br>
    Agent #1: Ah.<br>
    [Transition back to room 304. Agent #3 turns a computer around with the tip of his gun, whose screen reads "Receiving Call / (internet line)".]<br>
    Pickle Rick: ...because this pickle doesn't care about your children. And I'm not gonna take their dreams. I'm gonna take their parents.<br>
    [Pickle Rick steps on a laptop mouse whose screen reads "Sending Call". The window which reads that is minimized and another window is pulled up which reads "Sending Explosion / ...". Transition to room 304. The computer screen now reads "Receiving Explosion / (internet line)". The laptop blows up and the three agents are sent flying. Pickle Rick jumps out of an air duct into the hallway where the three agents are, holding a device he constructed. He holds up the device and a laser comes out, which burns a hole through all three of the men's heads, killing them instantly. Three more agents come from around the corner. Pickle Rick reloads the device and shoots another laser, this time chopping off the three other agents' ankles with it. He runs away. Transition to the surveillance room. Pickle Rick shows up on each of the monitors, and turns them off as he appears on them.]<br>
    Agent #2: Solen'ya! He's coming! It's because I threw half-way my sandwich!<br>
    Agency Director: He's just a pickle!<br>
    Agent #2: He's a monster!<br>
    Agency Director: He's not the only one.<br>
    [The agency director straightens his tie. Transition to another door. The agency director uses a key card to open the door, which leads to another metal door with two guards standing next to it. He turns the wheel on the door, opening it. Jaguar sits inside.]<br>
    You can stay, dead to the world and die in this room. Or you can kill a pickle for me and earn your freedom.<br>
    Jaguar: There is no freedom while your leader breathes. Our country is a prison.<br>
    Agency Director: Then Katarina is a prisoner. Perhaps I could arrange her escape, as well. She lives, Jaguar.<br>
    Jaguar: Where is this pickle?<br>
    [Transition to Dr. Wong's office.]<br>
    Dr. Wong: What do you think is in the syringe, Beth?<br>
    Beth: You're the one that costs $200 an hour. You tell me.<br>
    Morty and Summer: Anti-pickle serum.<br>
    Dr. Wong: Your kids think it might be anti-pickle serum.<br>
    Beth: My kids pee their desks and suck on unbaked vases.<br>
    [Morty picks up a book which sits on Dr. Wong's coffee table, which he opens and reads]<br>
    They're just angry at me for divorcing their father.<br>
    Summer: I never said I was angry at you.<br>
    Beth: That's the point of pottery-enamel huffing, Summer. You do it so you don't have to say "I'm angry at mommy" out loud.<br>
    Morty: Oh, my God!<br>
    [Morty closes the book and puts it back on the coffee table, pointing at it]<br>
    Oh, there-there's pictures of people eating poop in there!<br>
    [Dr. Wong picks the book up and puts it on her lap]<br>
    Dr. Wong: It's not my job to take sides or pass judgment. Do you think when your father asks for that syringe, you could ask him --<br>
    Beth: He won't have to ask for it, okay? He won't need it. He'll just make more. He doesn't need anything from anyone.<br>
    Dr. Wong: You admire him for that.<br>
    Beth: It's better than making your problems other people's problems.<br>
    [Transition to Pickle Rick and Jaguar fighting in an office. Pickle Rick tries to shoot Jaguar with his laser while Jaguar tries to shoot at Pickle Rick with two guns. A bullet hits Pickle Rick and takes a small chunk out of him.]<br>
    Pickle Rick: Oh, come on!<br>
    [Pickle Rick hits Jaguar's shoulder with the laser, Pickle Rick hides behind a shelf while Jaguar hides behind a desk]<br>
    Jaguar: Pickle Man, you should know this isn't personal!<br>
    [Jaguar bites a bullet, and pours the gunpowder into a coffee filter]<br>
    Pickle Rick: You should know that isn't original.<br>
    [Pickle Rick kicks open a Styrofoam container with a burger inside and pulls it towards him]<br>
    They have my daughter.<br>
    [Jaguar takes a water bottle and pours the water into his open wound]<br>
    There's nothing I won't do to see her again.<br>
    Pickle Rick: Yeah, there's lots I wouldn't do to see my daughter, but killing you gets me to her quicker than your derivative bullshit.<br>
    [Pickle Rick takes a tomato slice out of the burger and squeezes it onto his missing chunk. He pulls out a packet of mustard and bites it open. Jaguar pours the gunpowder into his wound and winces. Pickle Rick rubs mustard on his missing chunk and shouts, squeezing open the mustard packet. Jaguar lights a match and puts it up to the wound, setting it on fire. Pickle Rick grabs a stapler and staples a pickle slice to his missing chunk. Both shout in unison]<br>
    Jaguar: I never bullshit, Pickle Man. This can only end with one of us dead, and I have never died.<br>
    Pickle Rick: That will be your downfall, Jaguar, not being open to new experiences.<br>
    [Transition to surveillance room. The two continue fighting. Pickle Rick's laser gradually takes out all of the cameras]<br>
    Agency Direcotr: Is it done? Jaguar?!<br>
    Pickle Rick: Jaguar couldn't make it.<br>
    Agency Director: Do it.<br>
    Okay, you win, Pickle Man.<br>
    I'm unsealing the building.<br>
    Pickle Rick: No, thanks.<br>
    I'm coming for you now.<br>
    Agency Director: Pickle Man, there's $100 million worth of bonds in a safe on level two.<br>
    I'll give you the combination.<br>
    Agent #2: That money belongs to the people.<br>
    Agency Director: Shut up and call me a helicopter, you prick! Do we have a deal?!<br>
    Pickle Rick: Take that money, give it to Jaguar's daughter when you set her free.<br>
    Or I'll be visiting you.<br>
    Agency Director: Jaguar's daughter is dead.<br>
    Pickle Rick: Huh, so you're a liar.<br>
    Agency Director: Jaguar was an animal.<br>
    You're an intelligent pickle.<br>
    We can do business.<br>
    Pickle Rick: I don't think so.<br>
    See you soon.<br>
    Agency Director: Is the helicopter here?<br>
    Agent #2: Yes. And the police are on the way. What do we tell them?<br>
    [The Director kills both agents with headshots.]<br>
    Agency Director: Tell them we were robbed.<br>
    [The Director fills a duffel bag with documents and passports and run to the helicopter on the roof, which takes off without him]<br>
    Hey! Hey, what are you doing?! I'm right here!<br>
    [The shot pans to show the helicopter is being flown by Jaguar, with Pickle Rick in the passenger bay. Pickle Rick takes a drag on a cigarette and throws it into a pile of oil on the roof, igniting it into a half-ring behind the Director. The flames also ignite a fuse leading to a cache of explosives inside the building]<br>
    Agency Director: Farewell, Solen'ya.<br>
    Jaguar: F-15s are scrambled. This helicopter will be shot down in seven minutes.<br>
    Pickle Rick: Well, my daughter is about five away, and I've got about eight to live.<br>
    Jaguar: Pickle Man, it's too late for me to tell my daughter I love her, but not for you.<br>
    Pickle Rick: Oh, well, uh, she knows. I mean, we don't really buy into that kind of crap, to the extent that love is an expression of familiarity over time, my access to infinite timelines precludes the necessity of attachment. In fact, I even abandoned one of my infinite daughters in an alternate version of earth that was taken over by mutants.<br>
    Jaguar: Okay. Good luck with that. Wait. Do I have infinite daughters?<br>
    Pickle Rick: Huh? Uh, no. No, nope, sorry about that. Nope, just me. Yeesh!<br>
    [Transition to Dr. Wong's office.]<br>
    Beth: I am afraid that my kids will get expelled.<br>
    Dr. Wong: Good.<br>
    Summer, you go.<br>
    Summer: I am mad that I can't huff enamel without people assuming it's because my family sucks. I hope to be seen one day as someone that just likes getting high.<br>
    Dr. Wong: Good job.<br>
    Morty, do you have an "I" statement?<br>
    Morty: I am sad that I peed. I'm sad that I peed in class instead of a toilet.<br>
    Dr. Wong: Look at this family go. You guys are pros. What do you guys think about doing this once a week?<br>
    [The door bursts open from Pickle Rick's kick.]<br>
    Pickle Rick: Ugh.<br>
    [Pickle Rick walks in and flops on the couch next to Summer.]<br>
    Dr. Wong: You must be Rick.<br>
    Pickle Rick: Mm-hmm.<br>
    Dr. Wong: I've heard a lot about you today. Your family is crazy about you. Your daughter holds you in very high regard. You're a lucky fella.<br>
    Pickle Rick: Yeah, thank you.<br>
    Uh, sweetie, you don't still happen to have that syringe in your purse?<br>
    [Beth looks to Dr. Wong, who nods at her to proceed. Beth looks back at Pickle Rick.]<br>
    Beth: Dad, I would like you to tell me what's in the syringe.<br>
    Pickle Rick: It's a serum that I need to, uh, to stay alive.<br>
    I have had a rough day.<br>
    And, uh, I've sustained a lot of damage.<br>
    I'm pretty close to death, which the serum will prevent.<br>
    Dr. Wong: By changing you from a pickle to a human.<br>
    Pickle Rick: Yes.<br>
    Dr. Wong: Rick, why did you lie to your daughter?<br>
    Pickle Rick: So I wouldn't have to come here.<br>
    Dr. Wong: Why didn't you want to come here?<br>
    Pickle Rick: Because I don't respect therapy, because I'm a scientist. Because I invent, transform, create, and destroy for a living, and when I don't like something about the world, I change it. And I don't think going to a rented office in a strip mall to listen to some agent of averageness explain which words mean which feelings has ever helped anyone do anything.<br>
    I think it's helped a lot of people get comfortable and stop panicking, which is a state of mind we value in the animals we eat, but not something I want for myself. I'm not a cow. I'm a pickle. When I feel like it. So...you asked.<br>
    Dr. Wong: Rick, the only connection between your unquestionable intelligence and the sickness destroying your family is that everyone in your family, you included, use intelligence to justify sickness.<br>
    You seem to alternate between viewing your own mind as an unstoppable force and as an inescapable curse. And I think it's because the only truly unapproachable concept for you is that it's your mind within your control. You chose to come here, you chose to talk -to belittle my vocation- just as you chose to become a pickle.<br>
    You are the master of your universe, and yet you are dripping with rat blood and feces. Your enormous mind literally vegetating by your own hand.<br>
    I have no doubt that you would be bored senseless by therapy, the same way I'm bored when I brush my teeth and wipe my ass. Because the thing about repairing, maintaining, and cleaning is it's not an adventure. There's no way to do it so wrong you might die. It's just work. And the bottom line is, some people are okay going to work, and some people well, some people would rather die.<br>
    Each of us gets to choose.<br>
    [After a few silent beats, Dr. Wong's watch beeps.]<br>
    That's our time. I'm going to give you guys my card and hope to hear from you again.<br>
    And if you have any friends or family that eat poop and would like to stop, give them my number.<br>
    [Transition to Beth's car. Beth is driving; Pickle Rick is buckled into the front passenger seat; Summer and Morty are in the back bench seat.]<br>
    Pickle Rick: I, um I'm sorry I lied to get out of the thing.<br>
    I, I shouldn't lie to you.<br>
    Beth: Oh, it's fine.<br>
    I mean, thank you, and, yeah, you shouldn't.<br>
    But I hope you know that's not what that session was supposed to be.<br>
    Pickle Rick: Oh, no, I mean, I know it was Morty peeing his pants and Summer snorting glue or whatever...<br>
    Beth: [Laughs] She huffed enamel, and we never even talked about it.<br>
    Pickle Rick: Well, there was so much more at stake. I mean, that shrink, what a monologuist.<br>
    Summer: Are we gonna go back?<br>
    Pickle Rick: Sweetie, could I ge-get that syringe now?<br>
    Beth: Oh, my God, yes! Dad, it's in my purse. Oh, I'm sorry. You must be in agony.<br>
    Pickle Rick: Eh.<br>
    [Rick injects himself and transforms back into a human, coughing up what looks to be pickle brine.]<br>
    Rick: Jesus. Jesus Christ. Therapists, man.<br>
    Beth: Weird breed.<br>
    Rick: Man, I missed having hands and blood and a stomach.<br>
    [To Beth:] We should get a drink.<br>
    Beth: Really? Like, go somewhere?<br>
    Rick: Yeah, let's drop the kids off and go tie one on.<br>
    Beth: Absolutely!<br>
    Morty: I, I liked her.<br>
    Beth: So what are you thinking, like, Smokey's Tavern? Maybe Shoney's?<br>
    Rick: Yeah, either one. Either one.<br>
    [Post credits. Transition to Concerto's death trap piano. Rick and Morty are tied up beneath giant piano keys, with other corpses--their heads smashed in--lay to either side of them, while Concerto is perched above them on a smaller piano that controls the death trap.]<br>
    Rick: You'll never get away with this, Concerto.<br>
    Concerto: That is where you're mistaken, Mr. Sanchez.<br>
    This shall be my greatest performance of all time!<br>
    [Concerto starts playing his piano, forcing some of the giant keys to strike the already smashed heads of the corpses.]<br>
    Rick: This is it, Morty. We're goners. We're not getting out of this one. After everything we've been through, this is how we're gonna die.<br>
    Make peace with your god.<br>
    Morty: Oh, geez, Rick, I-I-I don't want to die!<br>
    Concerto: And now for the E-splat!<br>
    [Jaguar glides in and slits Concerto's throat.]<br>
    Rick: Jaguar!<br>
    [Jaguar looks back to Rick, nods slightly, then extends his flight suit's wings and flies off.]<br>
    Morty: Who? Who was that, Rick?<br>
    Rick: That, Morty, is why you don't go to therapy. </p> <br>
{% endblock %}%
